
.prev,.next{
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0px 10px;
    user-select: none;      
    position: absolute;
    font-size: 2rem;
    font-weight: 900;
}
.prev{
    top:50%;    
    left:0px;
}
.next{
    top:50%;
    right:0px;
}

select{
    padding: 10px;
    width: 200px;
}